*{
    box-sizing: border-box;
    margin: 0%;
}
.header{
    top: 0;
    position: sticky;
    display: inline-block;
    height: 14vh;
    border: none;
    width: 100%;
    margin: none;
    box-shadow: 0 0 18px 10px grey;
    font-size: x-large;
    background-color: rgba(255,255, 255, 1);
    z-index: 1;
    padding-right: 3vh;
    padding-top: 4vh;
    overflow: hidden;
}
nav{
    text-align: right;
}
.logo{
    text-align: left;
    float: left;
}
.hero-section{
    top: 20vh;
    height: 100vh;
    text-align: center;
    font-size: xx-large;
    margin-top: 6vh;
    background-image: url(./about/welcome-banner.jpg);
    background-color: blue;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    padding-top: 20%;
    bottom: 7vh;
    color: white;
}
.introduction{
    margin-top: 6vh;
    margin-bottom: 25vh;
    height: 70vh;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.mini{
    width: calc(45%);
    height: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
    background-size: cover;
    opacity: 0.8;
    display: inline;
    background-repeat: no-repeat;
}
.small-icons{
    margin-top: 60%;
    background-color: rgb(115, 255, 0) 0.9;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.bottom{
    margin-top: 3vh;
    border: none;
    border-top: 3px solid black;
}
.cont{
    margin-top: 3vh;
    display: inline-block;
    width: 40%;
    border: none;
    border-left: 2px solid black;
}
.education{
    margin-top: 6vh;
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 5px;
    padding-left: 5vw;
    margin-bottom: 25vh;
}
.e-mini{
    text-align: center;
    height: 10vh;
    margin-bottom: 2vh;
    bottom: 10px;
    padding-top: 5vh;
}
.e-max{
    margin-top: none;
    text-align: center;
    top: 0;
    height: 75vh;
}
.profile{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 60vh;
    margin-top: 6vh;
    text-align: center;
    margin-bottom: 25vh;
}
.prof-int{
    margin-top: 3vh;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.int{
    border-right: 2px solid black;
}
.last{
    border-right: none;
}
.icons{
    top: 7vh;
    height: calc(50%);
    width: calc(50%);
}
.c{
    padding-top: 7vh;
    
}
/* implenting scale animation */
.prof-int.c::after{
    position: absolute;
    content: '';
    background-color: blueviolet;
    width: 336px;
    height: 225px;
    padding: 0;
    display: grid;
    /* transform: translateY(-60.8%); */
    margin-top: -10.2%;
    transform-origin: center;
    transform: scale(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: -1;
}
.int.c::after{
    position: absolute;
    content: '';
    background-color: blueviolet;
    width: 336px;
    height: 243px;
    padding: 0;
    display: grid;
    /* transform: translateY(-90.8%); */
    margin-top: -11%;
    transform-origin: center;
    transform: scale(0);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: -1;
}
/* Hover effect animation */
.int.c:hover::after, .prof-int.c:hover::after{
    /* background-color: blueviolet; */
    transform-origin: center;
    transform: scale(1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.icons:hover{
    scale: 1.2;
    color: initial;
    transition: all 0.4s ease-in-out;
}
.footer{
    height: 90vh;
    margin-top: 26vh;
    
}
.int{
    margin-bottom: 10vh;
}
.row1{
    display: block;
}
.row2{
    display: inline-block;
    text-align: initial;
}
.contact-int{
    width: 45%;
    height: 60vh;
}
input{
    height: 5vh;
    margin-right: 3vh;
}
.w{
    margin-bottom: 3vh;
    margin-right: 3vh;
}
h1{
    margin: 6vh;
    text-align: center;
}
.row4{
    left: 50%;
    text-align: center;
}
button{
    appearance: none;
    height: 6vh;
    width: 8vw;
    padding: 4opx;
    background-color: darkslategrey;
    box-shadow: 0px 0px 6px  red;

}
a:link{
    background-color: transparent;
    text-decoration: none;
    padding: 3vh;
    
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-radius: 4vh;
}
a:visited{
    background-color: rgba(5, 5, 170, 0.466);
    color: rgb(247, 7, 7);
    transform: translateY(-20%);
}
a:hover, a:focus{
    color: white;
    background-color: rgba(47, 3, 88, 0.486);
    font-variant: small-caps;
    scale: 1.5;
    transform: translateY(-30%);
    transition: all 0.6s ease-in-out;

}
a:active{
    background-color: rgba(211, 6, 252, 1);
}

.contact-int.left form{
    border: 2px solid #5e5e5e;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
form{
    box-shadow: 0 4px 8px 0 rgba(126, 126, 126, 0.2), 0 6px 20px 0 rgba(90, 90, 90, 0.19);
}
.contact-int.left form input, form textarea{
    background-color: #f5f5f5;
    border-style: none;
    border-radius: 5px;
    padding: 18px;
    border: 2px solid #5e5e5e;
    margin-top: 30px;
    width: 50%;
}
textarea{
    margin-bottom: 30px;
    transform: translateX(-8px);
}
form button{
    transform: translateX(-8px);
    width: 50%;
    background-color: blueviolet;
    box-shadow: none;
    border-style: none;
    border-radius: 5px;
}
.contact-int.left{
    padding-left: 10px;
    height: 75vh;
}
.contact-int.right{
    border-left: 2px solid blueviolet;
    padding-left: 8%;
    height: 75vh;
    font-family: sans-serif;
}
.contact-int.right h3{
    font-size: 2.5em;
    color: blueviolet;
    margin-bottom: 0px;
    padding: 30px 0;
}
.contact-int.right h4{
    font-size: 1em;
    font-weight: 600;
    color: rgba(137, 43, 226, 0.829);
    margin-top: 10px;
}
.contact-int.right span{
    font-size: 1em;
    font-weight: 400;
}
.footer .head{
    font-family: sans-serif;
    text-align: left;
    color: blueviolet;
    display: flex;
}
.footer .head span{
    background-color: blueviolet;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}
#profile{
    font-family: sans-serif;
}
#profile span{
    color: blueviolet;
}